<footer class="text-left main-footer">
  <div class="bg-primary">
    <section id="top-footer">
      <div class="container pt-4 pb-0">
        <div class="row text-center">
          <div class="col-12 col-sm-12 col-md-8 col-lg-8 p-0">
            <ul class="footer__nav">
              <li class="footer__nav-item"><a class="footer__nav-link" href="{% url 'about' %}">About Dblog</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="">Write</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="">Help</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="">Contact</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="">Term</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 ">
            <div class="social text-left pl-0">
              <a href="#" class='social-link'>
                <i class="fab fa-twitter" style='color: #1C9DEB'></i>
              </a>
              <a href="#" class='social-link'>
                <i class="fab fa-facebook" style='color: #1675EB'></i>
              </a>
              <a href="#" class='social-link'>
                <i class="fab fa-linkedin" style='color: #0271AE'></i>
              </a>
              <a href="#" class='social-link'>
                <i class="fab fa-instagram" style=' 
                  color:#fff;
                  background: #f09433; 
                  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
                  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
                  border-color: #ccc'></i>
              </a>
              <a href="#" class='social-link'>
                <i class="fab fa-pinterest" style='color: #C51F26'></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pb-2 pt-0 pl-3 container">
      <div class="row text-muted">
        <small>
          Copyright &copy;
          <span class="year"></span> Dblog
        </small>
      </div>
    </section>
  </div>

</footer>