{% load static %}
<nav class="navbar navbar-expand navbar-light bg-light sticky-top p-0 navbar-container">
  <div class="container justify-content-left">
    <ul class="navbar-nav nav-category__list">
      <!-- <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link nav-category__item">
          <i class="fas fa-chevron-left"></i>
        </a>
      </li> -->
      <li class="nav-item">
        <a href="/" class="nav-link nav-category__item">Home</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link nav-category__list">Popular</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link nav-category__list">Programming</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link nav-category__list">Life</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link nav-category__list">TechBlog</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link nav-category__list">Travel</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link nav-category__list">Self</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link nav-category__list">Health</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link nav-category__list">More...</a>
      </li>
      <!-- <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link nav-category__item">
          <i class="fas fa-chevron-right"></i>
        </a>
      </li> -->
    </ul>
  </div>
</nav>