{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section container py-4 ml-auto col-md-8 col-lg-4">
  <div class="media pb-5">
    <img src="{{ user.profile.image.url }}" alt="" class="rounded-circle account-img mr-4" style="height: 100px;">
    <div class="media-body">
      <h2 class='account-heading'>{{ user.username}}</h2>
      <p class="text-secondary">{{user.email}}</p>
    </div>
  </div>
  <!-- Form here -->
  <form method='POST'>
    {% csrf_token %}
    <fieldset class='form-group'>
      <legend class='border-bottom mb-4'>Profile Info</legend>
      {{ userForm | crispy}}
      {{ profileForm | crispy}}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Update</button>
    </div>
  </form>
</div>
{% endblock%}