{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content %}

<div class="content-section container pt-4 pb-5 ml-auto col-md-8 col-lg-4" style="min-height: 100vh;">
  <!-- Alert -->
  {% include 'partials/_alerts.html' %}
  <!-- Form here -->
  <form method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <a href="{% url 'home' %}" class="btn btn-light mb-3">Back to Home</a>
    <fieldset class='form-group'>
      <legend class='border-bottom mb-4'>Create a new post</legend>
      {{ form | crispy}}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Publish</button>
    </div>
  </form>
</div>
{% endblock%}