{% extends 'base.html' %}
{% block title %} | Post Details{% endblock %}

{% block content %}
{% load static %}
<div class="container py-3 px-2" style="min-height: 100vh;">
  {% if user == post.author %}
  <div class="form-group">
    <a class="btn btn-outline-info" href="{% url 'postUpdate' object.slug %}">Edit this Post</a>
    <a class="btn btn-outline-danger" href="{% url 'postDelete' object.slug %}">Delete this Post</a>
  </div>
  {% endif %}

  <h2 class="text-left mt-2">{{post.title}}</h2>

  <div class="post__writer px-0">
    <div class="row">
      <!-- Information writer -->
      <div class="post__writer-info px-0 col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="post__writer-img d-flex pt-2">
          <img src="{{ post.author.profile.image.url }}" class="rounded-circle account-img"
            style="height: 50px;width:50px">

          <div class="post__writer-detail flex-column ml-2 ">
            <div class="post__writer-detail-author mb-2">
              <a
                href="{% url 'profile' post.author.username %}">{{ post.author.get_full_name |default:post.author.username}}</a>
              <button class="btn btn-outline-success"
                style="line-height: 0px;height:18px; position:relative;"><small>Follow</small></button>
            </div>
            <div class="post-info d-flex text-muted pt-1" style="line-height: 0px;">
              <p class=" mr-2"><small>{{post.created_at| date:"F d, Y"}}</small></p>-&nbsp;
              <p class="">
                <small>
                  {% if post.read_time  > 0 %}
                  {{post.read_time}} min read &#9733;
                  {% else %}
                  1 min read &#9733;
                  {% endif %}

                </small>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Share article -->
      <div class="post__share align-self-end d-flex justify-content-end pl-3 col-12 col-sm-12 col-md-6 col-lg-6 ">
        <a href="#" data-toggle="tooltip" title="Share on Twitter"><i class="fab fa-twitter mr-2"></i></a>
        <a href="#" data-toggle="tooltip" title="Share on LinkedIn"><i class="fab fa-linkedin mr-2"></i></a>
        <a href="#" data-toggle="tooltip" title="Share on facebook"><i class="fab fa-facebook-square mr-2"></i></a>
        <a href="#" data-toggle="tooltip" title="Save story"><i class="far fa-bookmark"></i></a>
      </div>
    </div>
    <div class="row py-3 flex-column">
      <img class="img-fluid rounded mx-auto" src="{{post.photo_main.url}}"><br>
      <div class="post__content pt-3 text-justify">
        {{post.content}}
      </div>
    </div>
    <div class="row post__tags pt-3">
      {% for tag in post.get_tag_names %}
      <a href="#tags" class="btn mr-2 py-0" style="background-color: #ececec;"><small>{{tag}}</small></a>
      {% endfor %}
    </div>

    <!-- Sections claps -->
    <div class="row post__claps">
      <!-- Information writer -->
      <div class="px-0 col-6 col-sm-6 col-md-6 col-lg-6">
        <div class="post__writer-img d-flex pt-4">
          <button class="btn border rounded-circle text-center align-self-center pt-2"
            style="height: 40px;width: 40px;">
            <i class="fas fa-sign-language" style="color: #999;font-size:22px"></i>
          </button>
          <div class="d-flex text-muted align-self-center ml-2 pt-3" style="line-height: 0px;">
            <p class=" mr-2"><small>2k claps</small></p>
            </p>
          </div>
        </div>
      </div>

      <!-- Share article -->
      <div class="post__share align-self-center d-flex justify-content-end pl-3 col-6 col-sm-6 col-md-6 col-lg-6 ">
        <a href="#" data-toggle="tooltip" title="Share on Twitter"><i class="fab fa-twitter mr-2"></i></a>
        <a href="#" data-toggle="tooltip" title="Share on LinkedIn"><i class="fab fa-linkedin mr-2"></i></a>
        <a href="#" data-toggle="tooltip" title="Share on facebook"><i class="fab fa-facebook-square mr-2"></i></a>
        <a href="#" data-toggle="tooltip" title="Save story"><i class="far fa-bookmark"></i></a>
      </div>
    </div>
    <hr>
    <div class="row ">
      <div class="pt-2 d-flex justify-content-between col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="d-flex">
          <img src="{{ post.author.profile.image.url }}" class="rounded-circle account-img"
            style="height: 50px;width:50px">

          <div class="flex-column ml-2 ">
            <span class="text-muted"><small>WRITTEN BY</small></span><br>
            <a class="text-secondary" href="{% url 'profile' post.author.username %}">
              <strong>
                {{ post.author.get_full_name |default:post.author.username}}
              </strong>
            </a>
          </div>
        </div>
        <div>
          <button class="btn btn-outline-success btn-small py-0 align-self-center"><small>Follow</small></button>
        </div>
      </div>
    </div>
    <hr><br>
  </div>

</div>
<!-- More from Dblog -->
<div class="bg-light">
  <div class="container">
    <div class="row">
      <h4>More from Dblog</h4>
      <hr>
    </div>
  </div>
</div>

{% endblock %}