<section id="top-bar" class="p-1">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fas fa-phone"></i> (617)-555-5555
      </div>
      <div class="col-md-4">
        <i class="fas fa-envelope-open"></i> contact@adev42.xyz
      </div>
      <div class="col-md-4">
        <div class="social text-right">
          <a href="#" class='social-link'>
            <i class="fab fa-twitter" style='color: #1C9DEB'></i>
          </a>
          <a href="#" class='social-link'>
            <i class="fab fa-facebook" style='color: #1675EB'></i>
          </a>
          <a href="#" class='social-link'>
            <i class="fab fa-linkedin" style='color: #0271AE'></i>
          </a>
          <a href="#" class='social-link'>
            <i class="fab fa-instagram" style=' 
              color:#fff;
              background: #f09433; 
              background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
              background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
              background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
              border-color: #ccc'></i>
          </a>
          <a href="#" class='social-link'>
            <i class="fab fa-pinterest" style='color: #C51F26'></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>